<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>994966616020-c7788ab5o84q0962h4rl7f6uuq5sr2pk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.994966616020-c7788ab5o84q0962h4rl7f6uuq5sr2pk</string>
	<key>API_KEY</key>
	<string>AIzaSyBcRJvd0R0PZU2chdWN6ZBsD_SswMx-zmY</string>
	<key>GCM_SENDER_ID</key>
	<string>994966616020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hugosilvag6.Buddy</string>
	<key>PROJECT_ID</key>
	<string>buddy-4c322</string>
	<key>STORAGE_BUCKET</key>
	<string>buddy-4c322.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994966616020:ios:3de807acf4134be04d0841</string>
</dict>
</plist>